<!DOCTYPE html>
<!-- saved from url=(0025)https://www.semantica.ai/ -->
<html class="">
<head>
    <title>Home | Semantica</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Ropa+Sans" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/img/favicon.png" type="image/x-icon">

    <link rel='stylesheet' type='text/css' href='/bootstrap.css' />
    <link rel='stylesheet' type='text/css' href='/app.css' />

    <script>
        var iframeLoaded = function()
        {
            var iframeDocument = document.getElementById("sendMailIFrame").contentWindow.document;
            var body = iframeDocument.getElementsByTagName("body")[0];
            var status = {}
            try {
                status = JSON.parse(body.innerText)
            }
            catch(e)
            {
                return;
            }

            if (status.error)
            {
                return alert("Error : " + JSON.stringify(status.error))
            }
            alert("Email was sent")
        }
    </script>


</head>
<body>
    <header>
        <div class="bodyContainer">
            <img src="/img/logo.png" />
        </div>
    </header>

    <section class="titleSection">
        <div class="bodyContainer">
            <h1>WE SEARCH. YOU SELL.</h1>
        </div>
        <div class="imageContainer">
            <img src="/img/title.jpg"/>
        </div>
    </section>

    <section class="whatIsSection">
        <div class="bodyContainer">
            <h2>WHAT IS SEMANTICA</h2>
            <h4>
                SEMANTICA is a set of the components which can be integrated in ANY eCommerce
                <br/>
                platform and make it more intelligent
                <br/>
                SEMANTICA works in ANY language and can be adapted to ANY eCommerce domain
            </h4>
        </div>
    </section>

    <section class="domains top-margin">
        <div class="bodyContainer">
            <h2>WE SUPPORT THE FOLLOWING ECOMMERCE DOMAINS</h2>
            <div class="row">
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class=" domainContainer">
                        <h3>FASHION</h3>
                    </div>
                </div>
                <div class="col-xs-100  col-sm-50 col-md-50 col-lg-50">
                    <div class=" domainContainer">
                        <h3>AUTOMOTIVE</h3>
                    </div>
                </div>
                <div class="col-xs-100  col-sm-50 col-md-50 col-lg-50">
                    <div class=" domainContainer">
                        <h3>ELECTRONICS</h3>
                    </div>
                </div>
                <div class="col-xs-100  col-sm-50 col-md-50 col-lg-50">
                    <div class=" domainContainer">
                        <h3>TRAVEL</h3>
                    </div>
                </div>
            </div>
                <div class="comingSoon">
                    <h5>More domains coming soon</h5>
                </div>
        </div>
    </section>

    <section class="offer top-margin">
        <div class="bodyContainer">
            <h2>WHAT WE OFFER</h2>
            <div class="row">
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="imageContainer" style="background-image: url('/img/semantica_search.jpg')"></div>
                    <div class="textContainer">
                        <h3>SEMANTIC SEARCH</h3>
                        <h5>
                            Delivers precise and rich results to queries in conversational language which can include colors, brands, prices, discounts, etc.; E.g. “Cream or blush satin trench coat by Burberry or Chloé and a burgundy leather tote by Tory Burch or similar, with golden details, save at least $250”
                        </h5>
                        <a href="https://vimeo.com/179875401" target="_blank" >Watch video</a>
                    </div>
                </div>
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="textContainer">
                        <h3>SEARCH BY COLOR</h3>
                        <h5>
                            Elevates substantially the precision of search results by extracting and indexing all the colors from the product image. E.g. “Dark teal ankle boots and deep caramel shoulder bag or Ocean Blue Tanks”
                        </h5>
                        <a href="https://vimeo.com/179875401" target="_blank" >Watch video</a>
                    </div>
                    <div class="imageContainer" style="background-image: url('/img/search_by_color.jpg')"></div>
                </div>

                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="imageContainer" style="background-image: url('/img/product_suggest.jpg')"></div>
                    <div class="textContainer">
                        <h3>PRODUCT SUGGEST</h3>
                        <h5>
                            by utilizing the semantic and color search technology it delivers the most accurate personalized recommendations in the industry
                        </h5>
                        <a href="https://vimeo.com/182369538" target="_blank" >Watch video</a>
                    </div>
                </div>
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="textContainer">
                        <h3>PERSONAL RECOMMENDATION</h3>
                        <h5>
                            Product recommendations deriving from stored user actions.<br/>
                            Also taking into consideration timing - which informs the sales and offers notifications functionality.<br/>
                            Maybe the user will likely be more interested in shopping right after a pay check?
                        </h5>
                        <a href="" target="_blank" >Watch video</a>
                    </div>
                    <div class="imageContainer" style="background-image: url('/img/personal_recommendation.jpg')"></div>
                </div>

                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="imageContainer" style="background-image: url('/img/sale_alert.jpg')"></div>
                    <div class="textContainer">
                        <h3>SALE ALERT</h3>
                        <h5>
                            Actively notifies the users about products they may like. An availability alert can be set on a specific product and also on an entire search phrase: “Let me know when champaigne-colored leather sneakers, size 8, Camper, Puma or Converse, are available”
                        </h5>
                        <a href="" target="_blank" >Learn More</a>
                    </div>
                </div>
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50 shopping-bot">
                    <div class="textContainer">
                        <h3>SHOPPING BOT</h3>
                        <h5>
                            Ecommerce platforms integrated with SEMANTICA become searchable and shoppable through any messaging platform. This is a completely new revenue channel for your business.
                        </h5>
                        <a href="https://vimeo.com/193671966" target="_blank" >Watch video</a>
                    </div>
                    <div class="imageContainer" style="background-image: url('/img/shopping_bot.jpg')"></div>
                </div>

                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <div class="imageContainer" style="background-image: url('/img/media_platform.jpg')"></div>
                    <div class="textContainer">
                        <h3>MEDIA PLATFORM</h3>
                        <h5>
                            Content publishing platform which can be integrated with semantic search, for shoppable content. Imagine the exact relevant articles for your specific case are brought to you every time you need them.
                        </h5>
                        <a href="" target="_blank" >Learn More</a>
                    </div>
                </div>
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50 shopping-bot">
                    <div class="textContainer">
                        <h3>AND MANY MORE</h3>
                        <h5>
                            Contact us to learn more about our fashion specific components: DoesItFit , Virtual Closet, StyleBoard, Outfit, Customer care 2.0 and OneBasket
                        </h5>
                        <a href="https://vimeo.com/193671966" target="_blank" >Learn More</a>
                    </div>
                    <div class="imageContainer" style="background-image: url('/img/more.jpg')"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing top-margin">
        <div class="pricingBackground">
            <h2>PRICING</h2>
        </div>
        <div class="pricingContainer">
            <div class="bodyContainer">
                <div class="row">
                    <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                        <div class="textContainer">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0.34200191497802734 39.125999450683594 595.56201171875 281.38006591796875" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                <g>
                                    <path d="M85.237 106.158s-60.361 28.998-70.782 61.141c0 0-14.113 31.004 44.944 31.871 0 0 48.96-7.947 55.908 18.107 0 0 2.769 29.46 12.322 32.07 0 0 8.766 11.268.083 22.557 0 0-17.33 4.32-17.33 16.479 0 0 .021 9.544 6.969-.016 0 0 9.565-1.732 1.748 7.821 0 0 6.954 5.196 7.822-9.56 0 0 4.247-6.946 4.731 4.344 0 0 6.564 11.293 10.904-1.734 0 0 13.897-16.494 11.291-27.791 0 0-2.602-12.16 19.978-6.08 0 0 17.367 21.711-6.95 27.792 0 0-12.159 1.78-13.028 13.919 0 0-.312 5.252 10.424-6.105 0 0 5.21 5.212 0 11.293 0 0 5.561 6.948 9.903-3.475 0 0 8.173-12.152 8.173-3.474v10.419s4 1.74 4-11.287v-9.555s-5.828-6.072 20.226-13.023c0 0 28.213-6.076 32.558-15.632 4.344-9.56 61.216-4.347 61.216-4.347v12.154s-25.481-1.736-35.033 9.56l2.02 5.207-22.869 5.216s-5.088 3.909-3.379 6.589c.573.897 2.074 1.662 4.678 2.094 10.419 1.736 32.208-6.951 32.208-6.951s.036 2.605-2.569 6.084c0 0-7.802 9.758 1.751 7.151 0 0 11.31-3.218 11.31-10.218h19.105s35.608-4.114 39.082-20.616c0 0 0-13.495 22.673-14.571 1.076-.051 2.2-.89 3.381-.89 26.056 0 32.132-8.223 42.554-26.464 0 0 2.605-8.019 22.582 5.885 0 0 59.922 32.899 102.479 23.348 0 0 36.477-4.39 34.742 26.872 0 0 3.474 18.219-83.375 13.003 0 0-111.854-4.129-155.479 18.07a59.009 59.009 0 0 0-3.453 1.882s68.612-9.554 99.006-7.818c0 0 151.985 13.027 158.931-26.054 0 0 5.212-33.87-44.291-39.081 0 0-85.979 7.81-143.3-66.01 0 0-54.713-112.025-150.248-81.633 0 0-34.74 19.104-59.057 16.5 0 0-22.578.844-12.157-21.727 0 0 14.765-43.405-28.658-39.061 0 0-26.059 3.465-29.532 32.996 0 0-13.026 13.033-15.632-1.734l-9.552-31.57S87.844 39.126 82.633 60.833c0 0-7.816 24.317 5.211 41.686-.001-.002 5.863-.781-2.607 3.639z"></path>
                                </g>
                            </svg>
                            <h3>FREE</h3>
                            <h5>
                                Up to 10,000 products<br/>
                                5,000 searches per month<br/>
                                Free
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                        <div class="textContainer">
                            <svg viewBox="6.997753620147705 11.201815605163574 186.00552368164062 146.4552001953125" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                <g>
                                    <path d="M185.495 104.085l-12.359 5.337c.159-1.565.289-3.141.289-4.759 0-.295-.006-.594-.006-.89l15.557-6.718a4.39 4.39 0 0 0 2.289-5.769 4.384 4.384 0 0 0-5.769-2.289l-12.219 5.276c-.785-26.917-5.301-54.786-24.417-80.385a3.052 3.052 0 0 0-4.234-.659c-1.84 1.308-3.737 2.618-5.637 3.938-11.962 8.279-24.296 16.818-26.382 28.228-10.012-1.077-15.58-1.02-25.116-.084-2.08-11.564-14.715-20.394-26.971-28.949-1.634-1.146-3.258-2.283-4.844-3.417a3.066 3.066 0 0 0-4.237.658C32.138 39.464 27.552 68.267 26.733 94.278l-12.228-5.28a4.384 4.384 0 0 0-5.769 2.289 4.39 4.39 0 0 0 2.289 5.769l15.558 6.718c-.001.295-.006.596-.006.889 0 1.618.129 3.193.288 4.759l-12.358-5.336a4.39 4.39 0 0 0-3.48 8.058l18.239 7.876c8.189 22.753 34.734 37.637 70.155 37.637h.945c35.525 0 62.148-14.882 70.363-37.633l18.249-7.88a4.39 4.39 0 1 0-3.483-8.059zM72.557 91.167c-3.717 0-6.731-2.946-6.731-6.581 0-3.642 3.015-6.587 6.731-6.587 3.717 0 6.732 2.945 6.732 6.587 0 3.635-3.016 6.581-6.732 6.581zm37.421 12.244l-9.457 10.994a.687.687 0 0 1-1.042 0l-9.457-10.994a.688.688 0 0 1 .521-1.136h18.915c.587 0 .904.69.52 1.136zm17.465-12.244c-3.717 0-6.731-2.946-6.731-6.581 0-3.642 3.015-6.587 6.731-6.587 3.717 0 6.731 2.945 6.731 6.587.001 3.635-3.014 6.581-6.731 6.581z"></path>
                                </g>
                            </svg>
                            <h3>BASIC</h3>
                            <h5>
                                Up to 100,000 products<br/>
                                50,000 searches per month<br/>
                                100 EUR
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                        <div class="textContainer">
                            <svg viewBox="11.939000129699707 3.1640000343322754 181.04798889160156 186.74624633789062" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                <g>
                                    <path d="M192.825 184.924c-.173-60.654-14.502-113.596-36.582-146.384-.059-.122-.075-.228-.149-.357-1.687-2.907-4.853-6.775-8.075-10.638C135.667 10.8 121.6 4.847 109.662 3.534l-.114-.022-.552-.041a51.322 51.322 0 0 0-3.82-.24 46.242 46.242 0 0 0-2.098-.067c-5.313 0-10.502.926-15.551 2.614a47.365 47.365 0 0 0-2.858 1.001l-2.174.975C41.781 26.072 11.939 97.797 11.939 186.018c0 2.15 1.272 3.891 3.423 3.891h38.94a3.888 3.888 0 0 0 3.891-3.891c0-13.389 8.457-24.293 18.86-24.293 10.399 0 18.861 10.904 18.861 24.293 0 2.15 1.74 3.891 3.891 3.891h31.428a3.888 3.888 0 0 0 3.891-3.891c0-47.576 7.998-66.348 17.534-80.424 11.36 14.715 16.896 41.109 16.896 80.424a3.89 3.89 0 0 0 3.891 3.891h15.651a3.892 3.892 0 0 0 3.891-3.891 4.04 4.04 0 0 0-.162-1.094zm-62.1-100.697c-6.759 0-12.257-5.486-12.257-12.223 0-6.744 5.497-12.23 12.257-12.23 6.755 0 12.257 5.486 12.257 12.23 0 6.736-5.502 12.223-12.257 12.223z"></path>
                                </g>
                            </svg>
                            <h3>PRO</h3>
                            <h5>
                                Up to 1,000,000 products<br/>
                                500,000 searches per month<br/>
                                300 EUR
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                        <div class="textContainer">
                            <svg viewBox="2.667001247406006 12.967994689941406 193.01402282714844 159.88803100585938" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" style="stroke-width: 0px;">
                                <g>
                                    <path d="M193.973 103.754c-1.252-1.468-3.099-2.206-5.491-2.206-8.973 0-30.529 11.945-39.903 17.398-6.233-11.373-23.797-43.189-29.826-51.664 3.393-2.635 14.561-7.188 26.286-10.622a3.951 3.951 0 0 0 1.171-7.026c-6.991-4.939-16.891-7.439-29.427-7.439-13.31 0-25.783 2.806-30.22 3.918-36.944-22.297-60.308-33.145-71.399-33.145-5.48 0-7.852 2.539-8.88 4.656-3.617 7.489 5.58 20.362 9.703 25.551.182.236.391.441.622.626a792.575 792.575 0 0 1 16.413 13.545c-7.926-3.072-14.418-5.275-14.967-5.457a3.959 3.959 0 0 0-4.004.893c-1.067 1.016-1.476 2.539-1.067 3.957 3.119 10.764 16.216 23.28 40.028 38.243 10.209 41.272 13.316 41.519 16.593 41.763 2.002.127 3.872-1.283 4.209-3.3.027-.166 2.361-14.24 5.402-23.449 15.399 7.791 53.162 25.118 60.535 28.488l17.471 31.603a3.947 3.947 0 0 0 4.557 1.89 3.952 3.952 0 0 0 2.856-4.02c-.012-.216-1.186-21.934-.321-29.96.534-4.958 15.578-17.526 29.208-26.329a3.994 3.994 0 0 0 1.762-2.72c.397-2.57-.495-4.243-1.311-5.194zM47.08 47.527a5.399 5.399 0 1 1 0-10.797 5.399 5.399 0 0 1 0 10.797z"></path>
                                </g>
                            </svg>
                            <h3>ENTERPRISE</h3>
                            <h5>
                                Unlimited products<br/>
                                Unlimited searches<br/>
                                Call us
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="demo">
        <div class="bodyContainer">
            <div class="row">
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <h2>SCHEDULE A DEMO</h2>
                    <h5>
                        rossen.genchev@gmail.com<br/>
                        +359 884 288 336
                    </h5>
                </div>
                <div class="col-xs-100 col-sm-50 col-md-50 col-lg-50">
                    <iframe  id="sendMailIFrame" name="targetIFrame" onload="iframeLoaded()"></iframe>
                    <form method="post" action="/send_email" target="targetIFrame">
                        <div class="row">
                            <div class="col-xs-50 col-sm-50 col-md-50 col-lg-50">
                                <input type="text" name="name" placeholder="Name*" required/>
                            </div>
                            <div class="col-xs-50 col-sm-50 col-md-50 col-lg-50">
                                <input type="email" name="email" placeholder="Email*" required/>
                            </div>
                        </div>
                        <input type="text" name="subject" placeholder="Subject*" required/>
                        <input type="text" name="phone" placeholder="Phone"/>
                        <input type="text" name="address" placeholder="Address"/>
                        <textarea name="message" placeholder="Message*" rows="7" required></textarea>
                        <input type="submit" value="Send"/>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <img src="/img/logo.png" />
    </footer>
</body>
</html>